* {
    margin: 0%;
}

.navbar {

    background: linear-gradient(180deg, #391090 0%, rgba(57, 16, 144, 0.95) 71.35%, rgba(57, 16, 144, 0.9) 85.94%, rgba(57, 16, 144, 0.85) 100%);
    background-blend-mode: darken;
    padding: 25px;

}

.navdiv {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navdiv img {

    width: 250px;
    height: 100px;
    top: 57px;
    left: 70px;
    gap: 0px;
    opacity: 0px;

}
/* 
.navoptn {

    li,
    a {
        display: inline-block;
        text-decoration: none;
        list-style: none;
        color: aliceblue;
        font-size: 25px;
        margin-right: 2em;
        margin-top: 3%;
    }
} */

.homepage{
   
    
    background-image: url(../Images/Homepage_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
   
}

.txthmpg h1 {

    color: rgb(253, 253, 253);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    line-height: 117.6px;
    margin-left: 10%;
    padding-top: 2em;
}

.txthmpg h2 {

    color: rgb(253, 253, 253);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    line-height: 117.6px;
    margin-left: 10%;

}

.txthmpg img {

    width: 553px;
    height: 13px;
    margin-left: 9%;

}

.portals-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 40px;
    padding: 7px;
    align-items: center;
    justify-content: center;
}

.portal-option {
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 3em;
    /* background-color: #f3b058;
    border: 1px solid #1c1a1a; */
    border-radius: 30px;
    background: linear-gradient(261.88deg, rgba(100, 68, 168, 0.8) 0%, rgba(159, 0, 143, 0.8) 90%);

    /* background: linear-gradient(262deg, rgba(231, 132, 41, 0.863) 0%, rgba(248, 167, 67, 0.912) 90%); */
}