* {
    margin: 0%;
}

.navbar {

    background: linear-gradient(180deg, #391090 0%, rgba(57, 16, 144, 0.95) 71.35%, rgba(57, 16, 144, 0.9) 85.94%, rgba(57, 16, 144, 0.85) 100%);
    background-blend-mode: darken;
    padding: 25px;

}

.navdiv {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navdiv img {

    width: 250px;
    height: 100px;
    top: 57px;
    left: 70px;
    gap: 0px;
    opacity: 0px;

}
/* 
.navoptn {

    li,
    a {
        display: inline-block;
        text-decoration: none;
        list-style: none;
        color: aliceblue;
        font-size: 25px;
        margin-right: 2em;
        margin-top: 3%;
    }
} */

.homepage{
   
    
    background-image: url(../../Images/Homepage_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* display: flex; */
   
}

.txthmpg h1 {

    color: rgb(253, 253, 253);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    line-height: 117.6px;
    margin-left: 10%;
    padding-top: 2em;
}

.txthmpg h2 {

    color: rgb(253, 253, 253);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    line-height: 117.6px;
    margin-left: 10%;

}

.txthmpg img {

    width: 553px;
    height: 13px;
    margin-left: 9%;

}

.container
{
	position: relative;
	width: 20em;
	min-height: 10em;
	background: #000;
	border-radius: 10px;
	background: rgba(255,255,255,0.1);
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
}

.box{
    position: relative;

}
.form
{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 40px;
	box-sizing: border-box;
}
.form h2
{
	position: relative;	
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 40px;
}
.inputBox
{
	width: 100%;
	margin-top: 20px;
}
.inputBox input
{
	/* width: 100%; */
	background: transparent;
	border: none;
	padding: 10px 20px;
	border-radius: 35px;
	background: rgba(255,255,255,0.2);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 5px 15px rgba(0,0,0,0.05);
	outline: none;
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
}
::placeholder
{
	color: #fff;
}
.inputBox input[type="submit"]
{
	background: #fff;
	color: #666;
	border: none;
	font-weight: 600;
	max-width: 100px;
	cursor: pointer;
	margin-bottom: 20px;
}
